include ../layout
h2 Listado de personas
    table
        thead
            tr
                th DNI
                th Nombre
                th Apellido
                th Fecha de nacimiento
                th Email
                th Ocupación
                th Género
                th Celular 1
                th Celular 2
                th Patología base
                th Matricula
                th Longitud
                th Latitud
        tbody
            each persona in Personas
                tr
                    td= persona.DNI
                    td= persona.nombre
                    td= persona.apellido
                    td= persona.fechaDeNacimiento
                    td= persona.email
                    td= persona.ocupacion
                    td= persona.genero
                    - let telefonos = Telefonos.filter(tel => tel.DNI === persona.DNI)
                    if telefonos[0].celular1 != null
                        td= telefonos[0].celular1
                    else
                        td="Sin celular"
                    if telefonos[0].celular2 != null
                        td= telefonos[0].celular2
                    else
                        td="Sin celular"
                    - var patologiasPersona = PatologiasBases.filter(patB => patB.DNI === persona.DNI)
                    td= patologiasPersona.length > 0 ? patologiasPersona.map(patB => patB.get('patologiaBase')).join(', ') : "Sin patología"
                    - var agentedesalud = AgentesDeSalud.filter(ads => ads.DNI === persona.DNI)
                    td= agentedesalud.length > 0 ? agentedesalud.map(ads => ads.get('matricula')).join(', ') : "Sin matricula"
                    td= persona.longitud
                    td= persona.latitud 
                    td 
                        button(onclick=`redirectToURL(${persona.DNI})`) Editar
                        form(method="post" action="/personas/"+persona.DNI+"?_method=DELETE" style="display: inline")
                            button(type="submit") Eliminar
    button(onclick="crear()") Crear
    button(type="submit") Volver
script.
    function redirectToURL(id){
        window.location.href= "/personas/" + id
    }
    function crear(){
        window.location.href= "/personas/crear"
    }